img.resize {
  width: 200px;
  height: 40px;
}

.menu {
  display: incline-block;
}

.back {
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 60px;
  left: 80px;
}
  
